@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Cherry+Bomb+One&family=Crafty+Girls&display=swap');
@font-face {
  font-family: bunny-snaps;
  src: url(./font/BunnySnaps.otf);
}
@media (min-width: 1000px) {
  body {
    background-image: url('./img/mimi.jpg')
  }
}
@media (max-width: 1000px) {
  body {
    background-image: url('./img/mimipeek.png')
  }
}

body, html {
  color: #96a8e9;

  margin: 0;


  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100dvh;
  box-sizing: border-box;

  font-family: bunny-snaps;
  font-size: 3vmin;
  text-align: center;
  padding-top: env(safe-area-inset-top);
}

.left-frill {
  position: absolute;
  position-anchor: --anchor;
  position-area: center left;

  margin-right: -60px;
  z-index: -1;

  height: 100vh;
  filter: drop-shadow(-10px 30px 20px black);
}

.right-frill {
  position: absolute;
  position-anchor: --anchor;
  position-area: center right;

  margin-left: -60px;
  z-index: -1;

  height: 100vh;
  filter: drop-shadow(-10px 30px 20px black);
  transform: rotateY(180deg);
}

.header {
  background-color: #eeeddc;
  color: #adc1f9;

  font-family: bunny-snaps;
  font-size: 6vmin;

  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 17px;

  margin: 0 auto;

  width: 17rem;
  height: 100px;

  border-radius: 8px;
  border: #c8d5fd dashed 3px;
  outline: #eeeddc solid 10px;
}

.the-main-thing-box-thing {
  anchor-name: --anchor;
  scrollbar-width: none;
  background-color: #c8d5fd;
  color: #7b92e8;
  
  background-image: radial-gradient(#eff6fc 5%, transparent 5%),
      radial-gradient(#eff6fc 5%, transparent 5%);
  background-color: #d7dcfe;
  background-position: 0 0, 50px 50px;
  background-size: 100px 100px;
  
  min-height: 100dvh;
  width: 1000px;
  max-width: 70%;
  height: 100vh;
    
  margin: 0 auto;
    
  overflow-y: auto;
   
  box-sizing: border-box;
  padding-top: 70px;
}

.timer-label {
  margin-top: -5vh;
  font-size: 5vmin;
  line-height: 0px;
}

.evil-ass-yearn-timer {
  margin-top: -2vh;
  font-size: 5vmin;
  font-family: "Quicksand", serif;
}

button {
  background-color: #96a8e9;
  border: none;
  border-radius: 0.5rem;
  color: #d5dcf6;
  font-family: "Quicksand", serif;
  font-size: 4vmin;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
}

hr {
  border-top: 0.25vmin solid #96a8e9;
  width: 50%;
}

.mainimg {
  height: 30vmin;
  margin-top: 3vmin;
  width: 30vmin;
}

.linkimg {
  height: 2vmin;
  width: 2vmin;
}

footer {
  font-size: 13px;

  margin-top: 2rem;
}
